$dark: #333333;
$primary: #C3DFC8;
$success: #333333;
$secondary: #a3b6a6;
$dropdown-link-hover-bg: $primary;
$navbar-dark-toggler-icon-bg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$dark}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  rgba($secondary, .0);